<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vitality/Nosotros.com</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <div class="menu logo-nav">
      <a href="/index" class="logo">Vitality</a>
      <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
      <nav class="navigation">
        <ul>
          <li><a href="/nosotros">Nosotros</a></li>
          <li><a href="/contacto">Administrar</a></li>
          <li>Nutrición para una vida saludable y enérgica</li>
        </ul>
      </nav>
    </div>
  </header>

<main>
<div class="container">
    <div class="columna1">
      <h2>Nosotros</h2>
      <p>
        <p>En Vitality, creemos que una buena nutrición es la base para una vida plena y llena de vitalidad."
        </p><br>
        <p> Con nuestra amplia gama de suplementos, buscamos ayudar a las personas a alcanzar sus metas de salud y sentirse mejor tanto física como mentalmente. </p><br>
        <p>Nos dedicamos a ofrecer suplementos dietéticos de alta calidad para mejorar la salud y el bienestar de nuestros clientes. Nuestro compromiso es brindar productos naturales y efectivos que respalden una alimentación equilibrada y promuevan un estilo de vida saludable.</p><br>
      </p>
    </div>
    <div class="columna2">
      <img src="https://www.fide.edu.pe/wp-content/uploads/2022/08/Imagenes-Blog-FIDE-2.png">
    </div>
</div>
</main>

<footer class="footer-section">
  <div class="copyright-area">
      <div class="container-footer">
          <div class="row-footer">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                  <div class="copyright-text">
                      <p>Copyright &copy; 2023, todos los derechos reservados <a href="/index">Vitality</a></p>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                  <div class="footer-menu">
                      <ul>
                          <li><a href="/nosotros">Nosotros</a></li>
              
                          <li><a href="/contacto">Administrar</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer> 


  
</body>
</html>